.container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: burlywood;
    margin: 20px;
    padding: 10px;
}
.item{
    background-color: red;
    justify-content: space-between;
}
  
.items{
    padding: 2%;
    background-color: aqua;
    
    
}